<div class="menu">
	<h2>■MENU</h2>
	
    <% if @projects.exists? %> 
      <li><%= link_to 'ミーティング管理', { :controller => 'meetings', :action => 'index'}  %></li>
    <% else %>
      <li>あなたは、いずれのプロジェクトにも登録されていません</li>
    <% end %>
	
	<br>
    <% if current_user.role == "admin" then %>
	<h2>■管理者MENU</h2>
	<li><%= link_to 'プロジェクト管理', { :controller => 'projects', :action => 'index'}  %></li>
	<li><%= link_to 'プロジェクト管理（ユーザ登録）', { :controller => 'project_users', :action => 'index'}  %></li>
    <% end %>
</div>


