/* リセットCSS  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ヘッダ */
.header {
	padding: 20px;
	background-color: #dfe3e8;
}

.header h1 {
	margin: 0;
	font-size: 20px;
	line-height: 1;
}

.header h1 a {
	color: #000;
	text-decoration: none;
}

.header p {
	margin: 8px 0 0 0;
	font-size: 12px;
	line-height: 1;
}

/* メニュー */
.menu {
	padding: 20px;
}

.menu h2 {
	margin: 0 0 10px 0;
	font-size: 18px;
	line-height: 1.2;
}

.menu ul,
.menu ol {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.4;
	list-style: none;
}

.menu li a {
	display: block;
	padding: 10px 5px 10px 5px;
	color: #000;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #eee;
}

